.img-cookie {
    max-height: 250px;
    object-fit: contain;
}

.img-cookie[squeeze='1'] {
    animation: img-cookie-stretch 1s 1;
}

.img-cookie[squeeze='2']{
    animation: img-cookie-squeeze 1s 1;
}

@keyframes img-cookie-squeeze {
    50% {
        transform: scale(.8, .8)
    }
    100% {
        transform: scale(1, 1)
    }
}

@keyframes img-cookie-stretch {
    50% {
        transform: scale(1.25, 1.25)
    }
    100% {
        transform: scale(1, 1)
    }
}

.img-monster {
    max-height: 250px;
    object-fit: fill;
}

.img-monster[spin='1'] {
    animation: img-monster-spin 1s 1;
}

@keyframes img-monster-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
